#home
{
	.metaslider
	{
		margin: 0px auto;
		height: 400px;

		.cs-buttons a
		{
			height: 20px;
			width: 20px;
		}
	}

	#welcome {
		line-height: 0px;
		font-size: 52px;
		font-family: handWritten;
		color: #A8CD4A;
	}

	.poetry {
		font-family: Arial,Helvetica,sans-serif;
		font-size: 18px;
		line-height: 30px;
	}

	.poetry[id="heading"]
	{
		font-size: 52px;
		font-family: handWritten;
		color: #A8CD4A;
		margin-bottom: 16px;
		line-height: 52px;
	}
}