#menu,#food,#drink,#dessert
{
		ul{
			#menu-item-53{
				a{
					color: #A8CD4A;
				}
				.sub-menu a
				{
					color: #000000;
				}
				.sub-menu a:hover
				{
					color: #A8CD4A;
				}
			}
		}
		#content{

			h2 {
				text-decoration: none;
				font-size: 54px;
				font-family: handWritten;
				padding: 0px;
				color: #A8CD4A;
				text-align: center;
				margin-top: 25px;
			}
		}
		.entry-content {
			margin-left: 5px;
			color: rgb(109, 109, 109);
	

		img {
			float: left;
			border-radius: 15px;
		}
		.text_description {
			width: 200px;
			float: left;
			margin-left: 5px;
			font-size: 18px;
			line-height: 25px;
		}

		.product_price {
			font-size: 18px;
			margin-top: 15px;
			width: 135px;
			float: right;
			margin-right: 55px;
		}
	}
		.article {
			border-radius: 10px;
			background-image: -webkit-linear-gradient(bottom, white 0%, #eeeeee 100%);
			margin-top: 60px;
			width: 450px;
			display: inline-block;

		header {
			margin-left: 5px;
			margin-top: 15px; 
			margin-bottom: 15px;
			height: 25px;
			line-height: 25px;
			font-size: 25px;
			text-align: center;
			color: rgb(97, 97, 97);
		}
	}



}




#food
{
	ul
	{
		#menu-item-53 a{
					color: #000;
				}
		.sub-menu 
		{
			#menu-item-55 a
			{
				color: #A8CD4A;;
			}
		}
	}
}
#drink
{
	ul
	{
		#menu-item-53 a{
					color: #000;
				}
		.sub-menu 
		{
			#menu-item-54 a
			{
				color: #A8CD4A;;
			}
		}
	}
}
#dessert
{
	ul
	{
		#menu-item-53 a{
					color: #000;
				}
		.sub-menu 
		{
			#menu-item-243 a
			{
				color: #A8CD4A;;
			}
		}
	}
}

