#news
{	
	#container {

		article {
			width: 800px;
			margin: 0 auto;
			margin-bottom: 75px;

			header {
				h2 {
					text-decoration: none;
					font-size: 54px;
					font-family: handWritten;
					color: #A8CD4A;
					margin-bottom: 15px;
					margin-top: 20px;
				}
			}

			section {
				text-align: justify;
				line-height: 1.3;
			}
		}

	}
}
