#news
{
	ul{
		#menu-item-57{
			a{
				color: #A8CD4A;
			}
		}
	}

	.entry-title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 12px;
	}

	// .entry-content {
	// 	img {
	// 		float: left;
	// 	}
	// 	.text_description {
	// 		width: 220px;
	// 		float: left;
	// 		margin-left: 50px;
	// 		font-size: 18px;
	// 	}

	// 	.product_price {
	// 		font-size: 18px;
	// 		margin-top: 15px;
	// 	}
	// }

	.article {
		margin-top: 60px;
		width: 550px;
		margin: 0 auto;
		header {
			margin-top: 50px;
		}
	}
}
