#about-us
{
		ul{
			#menu-item-50{
				a{
					color: #A8CD4A;
				}
			}
		}

	.about_text{
		text-indent: 32px;
		font-size: 16px;
		font-family: Arial;
		text-align: justify;
		line-height: 23px;
		color: #303030;
	}
	#aboutImg {
		width: 400px;
		height: 234px;
		border-radius: 10px;
		float: right;
		margin-left: 35px;
		margin-top: 5px;
	}
}



